@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

body {
    background-color: rgb(65, 65, 65);
}

.pagetitle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 28px;
    background-color: rgb(245, 180, 95);
    color: white;
}

h1 {display: flex;
    border: 5px solid;
    padding: 10px;
}

.btn-rps{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.btn-rps > button {
    font-size: 50px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background-color: bisque;
}

button:hover{
    cursor: pointer;
    color: yellow;
    border: 5px solid black;
    box-shadow: 2px 2px 2px;
}

button:active {
    background-color: #bfc20a;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

img {
    box-sizing: border-box;
    max-height: 100px;
    max-width: 100%;
}

.choicesheader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 40px;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
}

.choicesheader > p {
    font-size: 40px;
    color: bisque;
}

.choiceoutput {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.choiceoutput > p {
    font-size: 40px;
    color: bisque;
}

.whowon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}

.whowon > p {
    font-size: 40px;
    color: bisque;
}

.score {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.score > p {
    font-size: 50px;
}

#computerscore {
    display: flex;
    flex-direction: column;
}